@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* 브랜드 컬러 */
    --color-primary: #171717; /* 메인 검정 */
    --color-primary-light: #404040;
    --color-primary-dark: #0a0a0a;

    --color-secondary: #fbbf24; /* 메인 노랑 */
    --color-secondary-light: #fcd34d;
    --color-secondary-dark: #f59e0b;

    /* 시스템 컬러 */
    --color-error: #ef4444;
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-info: #3b82f6;
}
